/* CSS Stylesheet for the COMP249 Jobs Board */
/* Author: Frankie Ian 44918054              */

html {
    background-color: #ffffff;
    color: #1d1e1e;
    font-family: sans-serif;

}

body{
	margin: 0;
	padding:0;

}

.Logo{
    max-width: 20%;
    padding:0;
    margin-left: 10px;
    
}

input[type=text] {
    float:right;
    display:inline;
    font-size: 17px;
    border-color: #ccf8ff;
    border-radius:5px;
}

.nav ul {
	list-style:none;
    left: 5px;
	padding: 5px;
    margin:0;
    background-color: #ccf8ff;
    text-align: center;

}

.nav li {
    font-size: 17px;
    text-align:center;
    background-color: #87CEEB;
    border-radius: 10px;
    margin-left:10px;
    
}

#active{
	background-color:gray;
}
.nav a{
	text-decoration:none;
	color: white;
	display:block;
}

.nav a:hover{
    border-radius: 10px;
	background-color:#005f5f;
	transition: .3s background-color;

}

.Options{
    margin-top: 10px;
    display: inline-block;
    float:right;
    margin-right: 17%;
    border: 2px solid #ADD8E6;
    padding:10px;
    
}
.Options h4 {
    margin:0;
    text-decoration:underline;
    margin-bottom: 10px;
}

.Options p {
    text-align: left;
    margin:0;
    margin-top: 10px;
    display: inline;
}
.job {
    width: 40%;
    max-width: 50%;
    margin-left: 30%;
    margin-bottom: 10px;
    margin-top:10px;
    padding:10px;
    border: 2px solid #ADD8E6; 
    display: inline-block;
    
}
.jobtitle {
    font-family:  "Century Gothic";
    font-size:17px;
    text-decoration: #ADD8E6 solid underline;
    font-weight:bold;
    display:inline;    
}
.location{
    display:inline-block;
    float:right;
    
}

.description{
    padding-top: 10px;
    width:60%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   

}

.joblogo img{
    max-width: 15%;
    float:right;
}

.pagination{
    padding:10px;
    text-align: center;
    margin-bottom: 10px;

}

.pagination a{
    border-radius: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
}

.pagination a.active{
    background-color: #87CEEB;
}

.pagination a:hover {
    background-color:gray;
	transition: .3s background-color;
}


p{
    margin: 10px;
    padding-right:10px;
	text-align: right;

}


@media screen and (min-width: 600px){
	.nav li {
		width: 120px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		display:inline-block;
		margin-right:-4px;
	}
}
